body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    color: #333333;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.input-container label {
    font-size: 1rem;
    color: #333333;
    margin-right: 10px;
}

.input-container input {
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.input-container button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #0056b3;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.video-container {
    flex: 2;
    margin-right: 20px;
}

.chat-analysis {
    flex: 1;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.chat-analysis h2 {
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
}


canvas {
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 10px 2px black; 
    background-color: aqua;
}